html {
  height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
    min-height: 100%;
}

.sidebar{
	background-color: #2A2A26;
	width:15%;
	height: 100%;
	color:white;
	position: fixed;
	min-width: 150px;
}

.container{
	background-color: #FAFAFA;
	width: 85%;
	margin-left:15%;
}

.center{
	margin: 0 auto;
}

.logo{
	padding:15px;
	width: 50%;
	margin-top:40%;
}
.social-media-links{
	width: 50%;
	margin-top: 20px;
}