html {
  height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
    min-height: 100%;
    background-color: #CFD8DC;
}
.tst{
    background:#0297af url(images/texture.jpg) fixed;
}
.sidebar{
	width:200px;
	height: 100%;
	color:white;
	position: fixed;
	min-width: 150px;
    background-color: #423A35;
}

.container{
	background-color: #CFD8DC;
	width: 90%;
	margin-left:200px;
	position: absolute;
	height: auto;
	min-height:100%;
    padding: 25px;
}

.center{
	margin: 0 auto;
}

.logo{
	padding:15px 15px 0 15px;
	width: 59%;
	margin-top:40%;
	font-family: 'Anton', cursive;
	font-size:45px;
	text-transform: lowercase;
}
.firstname{
	letter-spacing: 3px;
	height: 40px;

}
.lastname{
	letter-spacing: 1px;
}
.social-media-links{
	width: 65%;
}
.social-media-icon{
	margin-right: 1.2px;
	font-size: 25px;
    color:white !important;
}
.posts{
	background-color: #ECEFF1;
	margin-top:2%;
	margin-left: 5%;
	padding: 15px 15px 0 15px;
	width: 280px;
	height: auto;
	display: inline-block;
	cursor: pointer;
}
.posts:hover{
	background-color: #DDDDDF;
    box-shadow: 0 0 1em black;
}

.tags{
	padding: 10px;
	color:#FF7C26;
	margin-top: 15px;
}

.tag{
    border-radius: 7px;
    padding: 3px;
    border:1px solid;
}
.categories{
	width: 80px;
	height: 50px;
	float:left;
	margin-left: -15px;
	margin-top: -30px;
}
.category{
	width: 80px;
	height: 50px;
	background-color: #207088;
}
.datetime{
	width: 100%;
	text-align: right;
	font-size: 13px;
	color:#8899a6;
}
.post-body{
    font-family: 'Telex', sans-serif;
}
.title{
    font-family: 'Montserrat', sans-serif;
}

.aspnet{
	color:#3F51B5;
}

.engenharia{
	color:#2196F3;
}

.tests{
	color:#009688;
}

.knockout{
	color:#FF9800;
}

.circular {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(images/cesar.jpg) no-repeat;
}

.backend{
    margin: 40px auto 30px auto;
    width: 200px;
    height: 180px;
    background: white;
    box-shadow: -1px -1px 10px #DDD;
}

/* This bit does the rhombus that sits in the top left hand corner */
.backend:before{
    content: "";
    display: block;
    position: relative;
    width:0px;
    height: 0px;
    top: 5px;
    left: -40px;
    
    width: 80px;
    height: 20px;
    box-shadow: 0 2px 0 #DDD;
    
    text-align: center;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    
    /* Rhombus */
    border-width: 0 30px 30px 30px;
    border-style: solid;
    border-color: transparent transparent #3AE transparent;
    
    
}

/* This does the text "featured" and the gradient that makes it look curved */
.backend:after{
    display: block;
    position: relative;
    content: "back-end";
    
    color: green;
    top: -29px;
    left: -33px;
    width: 140px;
    height: 28px;
    padding-top: 5px;
    
    background: transparent;
    background-image:
        
        -webkit-linear-gradient(45deg, 
        transparent 0%,
        transparent 77%,
        rgba(255,255,255,0.3) 80%,
        rgba(255,255,255,0.3) 81%, 
        rgba(0,0,0,0.4) 82%,
        transparent 83%
        ),
        
        -webkit-linear-gradient(-45deg,
        transparent 0%,
        transparent 17%,
        rgba(0,0,0,0.5) 18%,
        rgba(255,255,255,0.3) 19%,
        rgba(255,255,255,0.3) 20%,
        transparent 23%
        );
    background-image:
        -moz-linear-gradient(45deg, 
        transparent 0%,
        transparent 77%,
        rgba(255,255,255,0.3) 80%,
        rgba(255,255,255,0.3) 81%, 
        rgba(0,0,0,0.4) 82%,
        transparent 83%
        ),
        -moz-linear-gradient(-45deg,
        transparent 0%,
        transparent 17%,
        rgba(0,0,0,0.5) 18%,
        rgba(255,255,255,0.3) 19%,
        rgba(255,255,255,0.3) 20%,
        transparent 23%
        );
    
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    font-family: georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,25,0.1);
}


.frontend{
    margin: 40px auto 30px auto;
    width: 200px;
    height: 180px;
    background: white;
    box-shadow: -1px -1px 10px #DDD;
}

/* This bit does the rhombus that sits in the top left hand corner */
.frontend:before{
    content: "";
    display: block;
    position: relative;
    width:0px;
    height: 0px;
    top: 5px;
    left: -40px;
    
    width: 80px;
    height: 20px;
    box-shadow: 0 2px 0 #DDD;
    
    text-align: center;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    
    /* Rhombus */
    border-width: 0 30px 30px 30px;
    border-style: solid;
    border-color: transparent transparent #3AE transparent;
    
    
}

/* This does the text "featured" and the gradient that makes it look curved */
.frontend:after{
    display: block;
    position: relative;
    content: "front-end";
    
    color: green;
    top: -29px;
    left: -33px;
    width: 140px;
    height: 28px;
    padding-top: 5px;
    
    background: transparent;
    background-image:
        
        -webkit-linear-gradient(45deg, 
        transparent 0%,
        transparent 77%,
        rgba(255,255,255,0.3) 80%,
        rgba(255,255,255,0.3) 81%, 
        rgba(0,0,0,0.4) 82%,
        transparent 83%
        ),
        
        -webkit-linear-gradient(-45deg,
        transparent 0%,
        transparent 17%,
        rgba(0,0,0,0.5) 18%,
        rgba(255,255,255,0.3) 19%,
        rgba(255,255,255,0.3) 20%,
        transparent 23%
        );
    background-image:
        -moz-linear-gradient(45deg, 
        transparent 0%,
        transparent 77%,
        rgba(255,255,255,0.3) 80%,
        rgba(255,255,255,0.3) 81%, 
        rgba(0,0,0,0.4) 82%,
        transparent 83%
        ),
        -moz-linear-gradient(-45deg,
        transparent 0%,
        transparent 17%,
        rgba(0,0,0,0.5) 18%,
        rgba(255,255,255,0.3) 19%,
        rgba(255,255,255,0.3) 20%,
        transparent 23%
        );
    
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    font-family: georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,25,0.1);
}
